html, body
    height: 100%
    font-family: 'Open Sans', sans-serif
    box-sizing: border-box
    font-size: 10px
    
*, *:before, *:after
    box-sizing: inherit
    
.page__wrapper
    min-height: 100%
    box-sizing: inherit

* html .page__wrapper
    height: 100%

.page__buffer
    height: 50px

